# Place in /etc/systemd/system/mergerfs.service
[Unit]
Description=Mergerfs Service
Requires=rclone.service
After=rclone.service
RequiresMountsFor=/mnt/rclonedata/rclone_upload
RequiresMountsFor=/mnt/rclonedata/rclone_mount
 
[Service]
Type=forking
ExecStart=/usr/bin/mergerfs /mnt/rclonedata/rclone_upload:/mnt/rclonedata/rclone_mount /mnt/media
-o rw,async_read=false,use_ino,allow_other,func.getattr=newest,category.action=all,category.create=ff,cache.files=partial,dropcacheonclose=true
KillMode=process
Restart=on-failure
 
[Install]
WantedBy=multi-user.target