[Unit]
Description=Rclone Service
Wants=network-online.target
After=network-online.target
 
[Service]
Type=notify
Environment=RCLONE_CONFIG=/home/USER/.config/rclone/rclone.conf
 
ExecStart=/usr/bin/rclone mount \
--log-level INFO \
--allow-other \
--buffer-size 64M \
--dir-cache-time 720h \
--drive-chunk-size 128M \
--vfs-read-chunk-size 128M \
--vfs-read-chunk-size-limit off \
--vfs-cache-mode writes \
YOUR_GOOGLE_DRIVE_REMOTE: /mnt/appdata/rclonedata/rclone_mount

ExecStop=/usr/bin/fusermount -uz /mnt/appdata/rclonedata/rclone_mount
Restart=on-failure
 
[Install]
WantedBy=multi-user.target