# Place in /etc/systemd/system/rclone.service
[Unit]
Description=Rclone Service
Wants=network-online.target
After=network-online.target
 
[Service]
Type=notify
User=1000
Group=1000
KillMode=none
RestartSec=5
Restart=on-failure

ExecStart=/usr/bin/rclone mount \
--uid=1000 --gid=1000 --umask=002 \
--log-level INFO \
--log-file /mnt/logs/rclone.log \
--poll-interval 15s \
--allow-other \
--dir-cache-time 1000h \
--buffer-size 256M \
--drive-chunk-size 512M \
--vfs-read-chunk-size 128M \
--vfs-read-chunk-size-limit off \
--vfs-cache-mode writes \
--rc --rc-addr :5572 \
YOUR_GOOGLE_DRIVE_REMOTE: /mnt/rclonedata/rclone_mount

ExecStop=/usr/bin/fusermount -uz /mnt/rclonedata/rclone_mount
ExecStartPost=/usr/bin/rclone rc vfs/refresh recursive=true --rc-addr 127.0.0.1:5572 _async=true
 
[Install]
WantedBy=multi-user.target