[Unit]
Description=Rclone Cache
Requires=mergerfs.service
After=mergerfs.service

[Service]
Type=simple

ExecStart=/usr/bin/rclone rc vfs/refresh recursive=true --rc-addr 127.0.0.1:5572

RemainAfterExit=yes
User=1000
Group=1000

[Install]
WantedBy=multi-user.target